:root {
  --dark-green: #006A38;
  --light-green: #579755;
  --blue-green: #ACDAC2;
  --dark-grey: #3A4443;
}


#farm-navigation {
  display: flex;
  justify-content: space-between;
  height: 8vh;
}

#farm1 {
  width: 50vw;
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

#farm2 {
  width: 50vw;
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  width: 15vw;
  background-color: var(--blue-green);
  height: 93vh;
}

main {
  display: flex;
}

#data-input-container {
  width: 85vw;
}