:root {
  --dark-green: #006A38;
  --light-green: #579755;
  --blue-green: #ACDAC2;
  --dark-grey: #3A4443;
  --light-grey: #D5DED7;
}


/* #farm-navigation {
  display: flex;
  justify-content: space-between;
  height: 8vh;
}

#farm1 {
  width: 50vw;
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

#farm2 {
  width: 50vw;
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  width: 15vw;
  background-color: var(--blue-green);
  height: 93vh;
}

main {
  display: flex;
}

#data-input-container {
  width: 85vw;
} */


#farm-navigation {
  display: none;
}

#data-input-container {
  width: 100vw;
}

aside {
  display: none;
}

/* navigation */



#farm-navigation-mobile {
  display: flex;
  width: 100vw;
  background-color: var(--dark-green);
  color: #fff;
  height: 6vh;
  align-items: center;
  justify-content: center;
}

#data-categories-mobile {
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
}

select {
  /* appearance: none; */
  border: none;
  background-color: var(--dark-green);
  color: #fff;
  text-align-last: center;
}

#data-categories-mobile select {
  background-color: var(--light-grey);
  color: #000;
  border: none;
  width: 25vw;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}