* {
  line-height: 1.2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

@font-face {
  font-family: "Arla InterFace";
  src: url("../fonts/ArlaIF_Blk.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Arla InterFace";
  src: url("../fonts/ArlaIF_Bd.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arla InterFace";
  src: url("../fonts/ArlaIF_Rg.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Arla InterFace";
  src: url("../fonts/ArlaIF_Lt.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Arla InterFace";
  src: url("../fonts/ArlaIF_Th.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

:root {
  --dark-green: #006A38;
  --light-green: #579755;
  --blue-green: #ACDAC2;
  --dark-grey: #3A4443;
  --light-grey: #D5DED7;
}

html {
  color: #333;
  display: table;
  font-family: 'Arla InterFace', sans-serif;
  height: 100vh;
  text-align: center;
  width: 100vw;
  font-weight: 200;
}

/*------ Navigation bar desktop ------*/
.desktop-nav {
  display: none;
}

.nav {
  background-color: #333;
  padding: 2%;
}

.nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
}

.leftnav img {
  width: 5%;
  float: left;
}

.rightnav {
  float: right;
}

.nav a:hover {
  color: black;
}

.nav a.active {
  color: #4CAF50;
}

/*--------------- Navigation bar mobile -----------*/

a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
   font-family: 'Arla InterFace', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
}
ul {
  list-style-type: none;
  padding: 0;
}

.mobile-nav {
  background-color: #1E1E23;
  height: 60px;
  Display: flex;
  justify-content: right;
  align-items: center;
  z-index: 3;
  overflow: hidden;


}


#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 15%;
  left:85%;
  width: 100vw;
  z-index: 1;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

/*---- Menu toggle from bar to cross----*/

#menuToggle span:first-child
{ transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{ transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{ opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{ opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{ transform: rotate(-45deg) translate(0, -1px);
}

/* nav mobile pop up*/

#menu
{
 
  position: absolute;
  width: 90vw;
  height: 100vh;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 90px;
  padding-top: 100px;
  background-color: #F5F6FA;
  transform-origin: 0% 0%;
  transform: translate(32%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

#menu li
{
  padding: 20% 2%;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: translate(-65%,0);
}