* {
  line-height: 1.2;
  margin: 0;
}

html {
  color: #333;
  display: table;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 3px;
  margin: 1em 0;
  margin-top: 5%;
  color: #006A38;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 2.5em 0 1em;
  margin-top: 2%;
}

/*------ Graphs ------*/
canvas {
  max-width: 80%;
  margin: 2% 6%;
  text-align: center;
}

/*------ Navigation bar ------*/

.nav {
  background-color: #333;
  overflow: hidden;
  padding: 2%;
}

.nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1em;
}

.leftnav img {
  width: 5%;
  float: left;
}

.rightnav {
  float: right;
}

.nav a:hover {
  color: black;
}

.nav a.active {
  color: #4CAF50;
}

/*---graph section---*/
.graph-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
    padding: 0 5%;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
}
.bar, .line, .pie {
  margin: 2% 2%;
  width: 10%;
  height: 50px;
  border: 2px solid #3A4443;
  border-radius: 20px;
  text-align: center;
vertical-align: middle;
line-height: 50px; 
}


/*------------------------- Type of content in graph drop down styling------------ */

.type-dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #FECE1E;
  width: 100px;
}

.type-dropdown {
  position: relative;
  display: inline-block;
  padding: 2% 5%;
}

/*--- Dropdown content ---*/
.type-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  width: 62px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.type-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.type-show {display:block;}

/*Goals section*/
#goals {
  background-image: url(../img/cowspot.png);
  background-position: center;
  background-size: cover;
  width: 120vw;
  margin-left: -10vw;
  height: 220vh;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

#goals h1 {
  font-weight: 300;
  font-size: 8vh;
  text-align: center;
  color: #fff;
  margin: 30vh auto 0 auto;

}

#goals div {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  text-align: center;
  color: #fff;
  justify-content: space-between;
  width: 80vw;
  margin: 5vh auto 0;
}

#goals div div {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

#goals div div img {
  height: auto;
  border: 1vh solid #579755;
  border-radius: 50%;
  width: 60%;
  margin: 0 auto;
  
}

#goals div div h2{
font-size: 3vh;
}

#goals div div h3 {
  font-size: 2.5vh;
}

#goals div div p {
  font-size: 2vh;
}




@media only screen and (min-width: 768px) {

.type-dropbtn:hover, .type-dropbtn:focus {
  background-color: #4CAF50;
}
.type-dropbtn {
  width: 200px;
}
.bar:hover, .line:hover, .pie:hover{
  background-color: #FECE1E;
}

}